/* Fonts Stylesheet */

/* -- Inter Font -- */
@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/fonts/Inter/Inter-roman.var.woff2") format("woff2");
}

@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: block;
  font-style: italic;
  font-named-instance: "Italic";
  src: url("/fonts/Inter/Inter-italic.var.woff2") format("woff2");
}

/* -- FiraCode Font -- */
@font-face {
  font-family: "Fira Code";
  font-weight: 400;
  font-display: block;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/fonts/FiraCode/FiraCode-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Fira Code";
  font-weight: 500;
  font-display: block;
  font-style: normal;
  font-named-instance: "Medium";
  src: url("/fonts/FiraCode/FiraCode-Medium.ttf");
}


/* -- SpaceTime Font -- */
@font-face {
  font-family: "Space";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/Space/Space.woff2") format("woff2");
}

/* Feel free to add more fonts here! */
