@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #fff;
}

:root.dark {
  --background-color: #020617;
}

html {
  font-family:
    'Inter var',
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue;
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}

body {
  background-color: var(--background-color);
}

.dark :not(.placeholder-index) {
  color-scheme: dark;
}
