.sea-gradient {
    background-color: #bbf7d0; /* Tailwind's bg-green-100 */
    background-image: linear-gradient(to right, rgba(6, 182, 212, 0.5), rgba(59, 130, 246, 0.5));
}

.hyper-gradient {
    background-image: linear-gradient(to right, #ec4899, #ef4444, #f59e0b);
}

.gotham-gradient {
    background-image: linear-gradient(to right, #374151, #111827, #000000);
}

.gray-gradient {
    background-image: linear-gradient(to right, rgba(55, 65, 81, 0.5), rgba(17, 24, 39, 0.5), rgba(0, 0, 0, 0.5));
}

.watermelon-gradient {
    background-image: linear-gradient(to right, #ef4444, #10b981);
}

.ice-gradient {
    background-image: linear-gradient(to right, #fda4af, #5eead4);
}

.silver-gradient {
    background-image: linear-gradient(to right, #f3f4f6, #d1d5db);
}
