# A token to increase the rate limiting from 60/hr to 1000/hr
GITHUB_TOKEN=""

# GitHub repo to pull docs from
SOURCE_REPO="remix-run/remix"

# Package from which to base docs version
RELEASE_PACKAGE="remix"

# For development, reading the docs from a local repo
LOCAL_REPO_RELATIVE_PATH="../remix"

# Only needed locally if testing newsletter signup -- get from https://app.convertkit.com/account_settings/advanced_settings
CONVERTKIT_KEY="..."

# Not used locally, but make sure this is set in GitHub for production
FASTLY_API_TOKEN="..."
FASTLY_SERVICE_ID="..."